## Preprocessing data with PySpark Dataframes

In this section, we will learn following concepts:
- Documentation
- Reading the DataSet (.csv)
- Reading dataset with column header
- Checking the data type of the columns (DF schema)
- Selecting columns and Indexing
- Adding new columns to the dataframe
- Drop existing columns fromt he dataframe
- Renaming columns in the dataframe

Step-01: Documentation

- [pyspark.sql.DataFrameReader.csv](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.DataFrameReader.csv.html)
- [pyspark.sql.DataFrameReader.json](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.DataFrameReader.json.html)
- [pyspark.sql.DataFrameReader.load](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.DataFrameReader.load.html)
- [pyspark.sql.DataFrameReader.option](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.DataFrameReader.option.html)
- [pyspark.sql.DataFrameReader.parquet](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.DataFrameReader.parquet.html)
- [pyspark.sql.DataFrameWriter.csv](https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.DataFrameWriter.csv.html)

In [4]:
# import pyspark package
import pyspark
from pyspark.sql import SparkSession

In [5]:
# Create a new Spark session
spark=SparkSession.builder.appName("DataframePartOne").getOrCreate()

In [9]:
# Read a Dataset | Create a Dataframe from a csv dataset
csv_df = spark.read.csv('./notebooks/datasets/country_wise_latest.csv')

In [10]:
csv_df.show()

+-------------------+---------+------+---------+------+---------+----------+-------------+--------------------+
|                _c0|      _c1|   _c2|      _c3|   _c4|      _c5|       _c6|          _c7|                 _c8|
+-------------------+---------+------+---------+------+---------+----------+-------------+--------------------+
|     Country/Region|Confirmed|Deaths|Recovered|Active|New cases|New deaths|New recovered|          WHO Region|
|        Afghanistan|    36263|  1269|    25198|  9796|      106|        10|           18|Eastern Mediterra...|
|            Albania|     4880|   144|     2745|  1991|      117|         6|           63|              Europe|
|            Algeria|    27973|  1163|    18837|  7973|      616|         8|          749|              Africa|
|            Andorra|      907|    52|      803|    52|       10|         0|            0|              Europe|
|             Angola|      950|    41|      242|   667|       18|         1|            0|              Africa|
|Antigua and Barbuda|       86|     3|       65|    18|        4|         0|            5|            Americas|
|          Argentina|   167416|  3059|    72575| 91782|     4890|       120|         2057|            Americas|
|            Armenia|    37390|   711|    26665| 10014|       73|         6|          187|              Europe|
|          Australia|    15303|   167|     9311|  5825|      368|         6|          137|     Western Pacific|
|            Austria|    20558|   713|    18246|  1599|       86|         1|           37|              Europe|
|         Azerbaijan|    30446|   423|    23242|  6781|      396|         6|          558|              Europe|
|            Bahamas|      382|    11|       91|   280|       40|         0|            0|            Americas|
|            Bahrain|    39482|   141|    36110|  3231|      351|         1|          421|Eastern Mediterra...|
|         Bangladesh|   226225|  2965|   125683| 97577|     2772|        37|         1801|     South-East Asia|
|           Barbados|      110|     7|       94|     9|        0|         0|            0|            Americas|
|            Belarus|    67251|   538|    60492|  6221|      119|         4|           67|              Europe|
|            Belgium|    66428|  9822|    17452| 39154|      402|         1|           14|              Europe|
|             Belize|       48|     2|       26|    20|        0|         0|            0|            Americas|
|              Benin|     1770|    35|     1036|   699|        0|         0|            0|              Africa|
+-------------------+---------+------+---------+------+---------+----------+-------------+--------------------+
only showing top 20 rows

In [6]:
# Read a Dataset | Create a Dataframe from a csv dataset with column header
csv_df = spark.read.option('header','true').csv('./notebooks/datasets/country_wise_latest.csv')

In [14]:
csv_df.show()

+-------------------+---------+------+---------+------+---------+----------+-------------+--------------------+
|     Country/Region|Confirmed|Deaths|Recovered|Active|New cases|New deaths|New recovered|          WHO Region|
+-------------------+---------+------+---------+------+---------+----------+-------------+--------------------+
|        Afghanistan|    36263|  1269|    25198|  9796|      106|        10|           18|Eastern Mediterra...|
|            Albania|     4880|   144|     2745|  1991|      117|         6|           63|              Europe|
|            Algeria|    27973|  1163|    18837|  7973|      616|         8|          749|              Africa|
|            Andorra|      907|    52|      803|    52|       10|         0|            0|              Europe|
|             Angola|      950|    41|      242|   667|       18|         1|            0|              Africa|
|Antigua and Barbuda|       86|     3|       65|    18|        4|         0|            5|            Americas|
|          Argentina|   167416|  3059|    72575| 91782|     4890|       120|         2057|            Americas|
|            Armenia|    37390|   711|    26665| 10014|       73|         6|          187|              Europe|
|          Australia|    15303|   167|     9311|  5825|      368|         6|          137|     Western Pacific|
|            Austria|    20558|   713|    18246|  1599|       86|         1|           37|              Europe|
|         Azerbaijan|    30446|   423|    23242|  6781|      396|         6|          558|              Europe|
|            Bahamas|      382|    11|       91|   280|       40|         0|            0|            Americas|
|            Bahrain|    39482|   141|    36110|  3231|      351|         1|          421|Eastern Mediterra...|
|         Bangladesh|   226225|  2965|   125683| 97577|     2772|        37|         1801|     South-East Asia|
|           Barbados|      110|     7|       94|     9|        0|         0|            0|            Americas|
|            Belarus|    67251|   538|    60492|  6221|      119|         4|           67|              Europe|
|            Belgium|    66428|  9822|    17452| 39154|      402|         1|           14|              Europe|
|             Belize|       48|     2|       26|    20|        0|         0|            0|            Americas|
|              Benin|     1770|    35|     1036|   699|        0|         0|            0|              Africa|
|             Bhutan|       99|     0|       86|    13|        4|         0|            1|     South-East Asia|
+-------------------+---------+------+---------+------+---------+----------+-------------+--------------------+
only showing top 20 rows

In [16]:
# Another way of reading a csv dataset with a column header
csv_df = spark.read.format("csv").option('header','true').load('./notebooks/datasets/country_wise_latest.csv')

In [17]:
# Display top rows "n" of the dataframe
csv_df.show(2)

+--------------+---------+------+---------+------+---------+----------+-------------+--------------------+
|Country/Region|Confirmed|Deaths|Recovered|Active|New cases|New deaths|New recovered|          WHO Region|
+--------------+---------+------+---------+------+---------+----------+-------------+--------------------+
|   Afghanistan|    36263|  1269|    25198|  9796|      106|        10|           18|Eastern Mediterra...|
|       Albania|     4880|   144|     2745|  1991|      117|         6|           63|              Europe|
+--------------+---------+------+---------+------+---------+----------+-------------+--------------------+
only showing top 2 rows

In [18]:
# Print the schema (datatypes of cols) of the dataframe
csv_df.printSchema()

root
 |-- Country/Region: string (nullable = true)
 |-- Confirmed: string (nullable = true)
 |-- Deaths: string (nullable = true)
 |-- Recovered: string (nullable = true)
 |-- Active: string (nullable = true)
 |-- New cases: string (nullable = true)
 |-- New deaths: string (nullable = true)
 |-- New recovered: string (nullable = true)
 |-- WHO Region: string (nullable = true)

### Adding column in Dataframe

In [11]:
csv_df.withColumn('Total Deaths',csv_df['Deaths']+csv_df['New deaths']).show()

+-------------------+---------+------+---------+------+---------+----------+-------------+--------------------+------------+
|     Country/Region|Confirmed|Deaths|Recovered|Active|New cases|New deaths|New recovered|          WHO Region|Total Deaths|
+-------------------+---------+------+---------+------+---------+----------+-------------+--------------------+------------+
|        Afghanistan|    36263|  1269|    25198|  9796|      106|        10|           18|Eastern Mediterra...|      1279.0|
|            Albania|     4880|   144|     2745|  1991|      117|         6|           63|              Europe|       150.0|
|            Algeria|    27973|  1163|    18837|  7973|      616|         8|          749|              Africa|      1171.0|
|            Andorra|      907|    52|      803|    52|       10|         0|            0|              Europe|        52.0|
|             Angola|      950|    41|      242|   667|       18|         1|            0|              Africa|        42.0|
|Antigua and Barbuda|       86|     3|       65|    18|        4|         0|            5|            Americas|         3.0|
|          Argentina|   167416|  3059|    72575| 91782|     4890|       120|         2057|            Americas|      3179.0|
|            Armenia|    37390|   711|    26665| 10014|       73|         6|          187|              Europe|       717.0|
|          Australia|    15303|   167|     9311|  5825|      368|         6|          137|     Western Pacific|       173.0|
|            Austria|    20558|   713|    18246|  1599|       86|         1|           37|              Europe|       714.0|
|         Azerbaijan|    30446|   423|    23242|  6781|      396|         6|          558|              Europe|       429.0|
|            Bahamas|      382|    11|       91|   280|       40|         0|            0|            Americas|        11.0|
|            Bahrain|    39482|   141|    36110|  3231|      351|         1|          421|Eastern Mediterra...|       142.0|
|         Bangladesh|   226225|  2965|   125683| 97577|     2772|        37|         1801|     South-East Asia|      3002.0|
|           Barbados|      110|     7|       94|     9|        0|         0|            0|            Americas|         7.0|
|            Belarus|    67251|   538|    60492|  6221|      119|         4|           67|              Europe|       542.0|
|            Belgium|    66428|  9822|    17452| 39154|      402|         1|           14|              Europe|      9823.0|
|             Belize|       48|     2|       26|    20|        0|         0|            0|            Americas|         2.0|
|              Benin|     1770|    35|     1036|   699|        0|         0|            0|              Africa|        35.0|
|             Bhutan|       99|     0|       86|    13|        4|         0|            1|     South-East Asia|         0.0|
+-------------------+---------+------+---------+------+---------+----------+-------------+--------------------+------------+
only showing top 20 rows

In [9]:
csv_df.printSchema()

root
 |-- Country/Region: string (nullable = true)
 |-- Confirmed: string (nullable = true)
 |-- Deaths: string (nullable = true)
 |-- Recovered: string (nullable = true)
 |-- Active: string (nullable = true)
 |-- New cases: string (nullable = true)
 |-- New deaths: string (nullable = true)
 |-- New recovered: string (nullable = true)
 |-- WHO Region: string (nullable = true)

### Drop a Column (Delete) from Dataframe

In [13]:
csv_df.drop('Confirmed','Deaths').show()

+-------------------+---------+------+---------+----------+-------------+--------------------+
|     Country/Region|Recovered|Active|New cases|New deaths|New recovered|          WHO Region|
+-------------------+---------+------+---------+----------+-------------+--------------------+
|        Afghanistan|    25198|  9796|      106|        10|           18|Eastern Mediterra...|
|            Albania|     2745|  1991|      117|         6|           63|              Europe|
|            Algeria|    18837|  7973|      616|         8|          749|              Africa|
|            Andorra|      803|    52|       10|         0|            0|              Europe|
|             Angola|      242|   667|       18|         1|            0|              Africa|
|Antigua and Barbuda|       65|    18|        4|         0|            5|            Americas|
|          Argentina|    72575| 91782|     4890|       120|         2057|            Americas|
|            Armenia|    26665| 10014|       73|         6|          187|              Europe|
|          Australia|     9311|  5825|      368|         6|          137|     Western Pacific|
|            Austria|    18246|  1599|       86|         1|           37|              Europe|
|         Azerbaijan|    23242|  6781|      396|         6|          558|              Europe|
|            Bahamas|       91|   280|       40|         0|            0|            Americas|
|            Bahrain|    36110|  3231|      351|         1|          421|Eastern Mediterra...|
|         Bangladesh|   125683| 97577|     2772|        37|         1801|     South-East Asia|
|           Barbados|       94|     9|        0|         0|            0|            Americas|
|            Belarus|    60492|  6221|      119|         4|           67|              Europe|
|            Belgium|    17452| 39154|      402|         1|           14|              Europe|
|             Belize|       26|    20|        0|         0|            0|            Americas|
|              Benin|     1036|   699|        0|         0|            0|              Africa|
|             Bhutan|       86|    13|        4|         0|            1|     South-East Asia|
+-------------------+---------+------+---------+----------+-------------+--------------------+
only showing top 20 rows

### Drop a row based on Null values

In [16]:
# Delete all the rows which has a null value in any column
csv_df.na.drop().show()

+-------------------+---------+------+---------+------+---------+----------+-------------+--------------------+
|     Country/Region|Confirmed|Deaths|Recovered|Active|New cases|New deaths|New recovered|          WHO Region|
+-------------------+---------+------+---------+------+---------+----------+-------------+--------------------+
|        Afghanistan|    36263|  1269|    25198|  9796|      106|        10|           18|Eastern Mediterra...|
|            Albania|     4880|   144|     2745|  1991|      117|         6|           63|              Europe|
|            Algeria|    27973|  1163|    18837|  7973|      616|         8|          749|              Africa|
|            Andorra|      907|    52|      803|    52|       10|         0|            0|              Europe|
|             Angola|      950|    41|      242|   667|       18|         1|            0|              Africa|
|Antigua and Barbuda|       86|     3|       65|    18|        4|         0|            5|            Americas|
|          Argentina|   167416|  3059|    72575| 91782|     4890|       120|         2057|            Americas|
|            Armenia|    37390|   711|    26665| 10014|       73|         6|          187|              Europe|
|          Australia|    15303|   167|     9311|  5825|      368|         6|          137|     Western Pacific|
|            Austria|    20558|   713|    18246|  1599|       86|         1|           37|              Europe|
|         Azerbaijan|    30446|   423|    23242|  6781|      396|         6|          558|              Europe|
|            Bahamas|      382|    11|       91|   280|       40|         0|            0|            Americas|
|            Bahrain|    39482|   141|    36110|  3231|      351|         1|          421|Eastern Mediterra...|
|         Bangladesh|   226225|  2965|   125683| 97577|     2772|        37|         1801|     South-East Asia|
|           Barbados|      110|     7|       94|     9|        0|         0|            0|            Americas|
|            Belarus|    67251|   538|    60492|  6221|      119|         4|           67|              Europe|
|            Belgium|    66428|  9822|    17452| 39154|      402|         1|           14|              Europe|
|             Belize|       48|     2|       26|    20|        0|         0|            0|            Americas|
|              Benin|     1770|    35|     1036|   699|        0|         0|            0|              Africa|
|             Bhutan|       99|     0|       86|    13|        4|         0|            1|     South-East Asia|
+-------------------+---------+------+---------+------+---------+----------+-------------+--------------------+
only showing top 20 rows

In [19]:
# "How" can have two values: any OR all
# Delete a row only if all the column values are null
csv_df.na.drop(how='all')

DataFrame[Country/Region: string, Confirmed: string, Deaths: string, Recovered: string, Active: string, New cases: string, New deaths: string, New recovered: string, WHO Region: string]

In [ ]:
# Delete a row even if atleast one column values has null value
csv_df.na.drop(how='any')

In [21]:
# Delete a row using threshhold | Delete the row only if you have atleast "3 non-nulls" in the row
csv_df.na.drop(how='any', thresh=3)

DataFrame[Country/Region: string, Confirmed: string, Deaths: string, Recovered: string, Active: string, New cases: string, New deaths: string, New recovered: string, WHO Region: string]

In [31]:
# Delete a row using "subset" | Delete the row based on the null values present in a particular column(s)
csv_df.na.drop(how="any", subset=["Deaths"])

DataFrame[Country/Region: string, Confirmed: string, Deaths: string, Recovered: string, Active: string, New cases: string, New deaths: string, New recovered: string, WHO Region: string]

### Filling the null (or missing) values

In [33]:
# Replace all the null values in the dataframe with some value | Use "fill()"
csv_df.na.fill(10,'Deaths')

DataFrame[Country/Region: string, Confirmed: string, Deaths: string, Recovered: string, Active: string, New cases: string, New deaths: string, New recovered: string, WHO Region: string]

### GlobalTempView

In [ ]:
csv_df.createGlobalTempView("sampleViewBin")

In [ ]:
# Change the cell type from Python to SQL and run it
select * from sampleViewBin